@model IEnumerable<HoneyNetWebApp.Models.WebNodeModel>
    @{
        ViewData["Title"] = "Index";
    }
    
    @*Html.ListBox("CategoryID", (MultiSelectList)ViewBag.Categories)*@
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("stringSearch")
        Filter By: @Html.DropDownList("CatagoryID", ViewBag.CatagoryID as SelectList)
        Real-Time: @Html.CheckBox("EventStream", (bool)ViewBag.EventStream)
        <input type="submit" value="Search" />
    </p>
}
   



