@model IEnumerable<HoneyNetWebApp.Models.WebNodeModel>
    @{
        ViewData["Title"] = "Index";
    }
    
    @*Html.ListBox("CategoryID", (MultiSelectList)ViewBag.Categories)*@
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("stringSearch")
        <input type="submit" value="Search"/>
    </p>
}
   



